<mat-sidenav-container class="h-full">
  <mat-sidenav
    #sidenav
    [mode]="responsiveManager.sideNavMode()"
    (openedChange)="responsiveManager.sideNavOpened.set($event)"
    [opened]="responsiveManager.sideNavOpened()"
  >
    <app-category-menu />
  </mat-sidenav>

  <mat-sidenav-content class="bg-gray-100 p-6">
    <div class="flex items-center justify-between mb-6">
      <div>
        <h1 class="text-2xl font-bold text-gray-900">
          {{ store.category() | titlecase }}
        </h1>
        <p class="text-base text-gray-600 mt-1">
          {{ store.filteredProducts().length }} products found
          @if (store.searchTerm()) {
            for "{{ store.searchTerm() }}"
          }
        </p>
      </div>
    </div>

    <div class="responsive-grid">
      @for (product of store.filteredProducts(); track product.id) {
        <app-product-card [product]="product">
          <app-toggle-wishlist-button
            class="!absolute z-10 top-3 right-3 !bg-white shadow-md rounded-md transition-all duration-200 hover:scale-110 hover:shadow-lg"
            [product]="product"
            [style.view-transition-name]="'wishlist-' + product.id"
          />
        </app-product-card>
      }
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
